#loader_div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in;
}

#loader {
    z-index: 11;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    border: 10px solid rgb(80, 80, 80);
    border-top: 10px solid rgb(30, 30, 30);
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    animation: spin 1s cubic-bezier(0.38,-0.57, 0.26, 1.16) infinite;
    position: absolute;
}

#loader2 {
    content: "";
    z-index: 11;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    border: 8px solid rgb(80, 80, 80);
    border-top: 8px solid rgb(30, 30, 30);
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 100%;
    animation: spin 1.5s cubic-bezier(0.38,-0.57, 0.26, 1.16) infinite;
    position: absolute;
}
/* 
#loader3 {
    content: "";
    z-index: 11;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    border: 6px solid rgb(80, 80, 80);
    border-top: 6px solid rgb(30, 30, 30);
    display: block;
    width: 126px;
    height: 126px;
    border-radius: 100%;
    animation: spin 3s cubic-bezier(.04,1.58,.82,-0.16) infinite;
    position: absolute;
} */

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}